# Merging & Concate dataFrame

Merge

In [3]:
import pandas as pd 
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,4],"B1":[21,22,23,24]})
# pd.merge(var1,var2,on="A")
# pd.merge(var1,var2,how="outer",indicator=True)
# pd.merge(var1,var2,left_index=True,right_index=True,suffixes=("name","python"))
pd.merge(var1,var2)

   A   B  B1
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

Concate

In [4]:
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([11,21,31,41])
pd.concat([sr1,sr2])

0     1
1     2
2     3
3     4
0    11
1    21
2    31
3    41
dtype: int64

In [8]:
d1 = pd.DataFrame({"A":[1,2,3,4]})
d2 = pd.DataFrame({"A":[1,2,3,4],"B":[21,22,31,41]})
pd.concat([d1,d2],axis=1,keys=["d1","d2"])

  d1 d2
   A  A   B
0  1  1  21
1  2  2  22
2  3  3  31
3  4  4  41